<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
		{% endblock %}

		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
		{% endblock %}
	</head>
	<body class="mb-4">
		<nav class="navbar navbar-expand-lg bg-primary navbar-dark mb-3">
			<div class="container">
				<a class="navbar-brand" href="{{ path('home') }}">
					<img src="{{ asset('map.png') }}" width="32"/>
					Geochat
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('app_message_index') }}">Messages</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
